services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
      - db

  importer-service:
    build: ./importer-service
    ports:
      - "8001:8000"
    env_file:
      - .env
    depends_on:
      - redis

  worker-service:
    build: ./worker-service
    env_file:
      - .env
    depends_on:
      - redis
      - db
      - minio

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: fotoowl
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - api-gateway

volumes:
  minio_data:
  pgdata:
